.button {
  background: #43ad76;
  padding: 0.5em 2em;
  font-size: 1.5rem;
  font-weight: bold;
  transition: all 0.3s;
  cursor: pointer;
  color: black;

  &:hover {
    background: #4b86b4;
    color: white;
  }

  &:disabled {
    opacity: 0.5;
  }
}
