.screenEgg {
  position: fixed;
  background: #adcbe3;
  display: inline-block;
  padding: 1rem;
  z-index: 99;
  border: 1px solid #ffffff;

  a {
    cursor: pointer;
  }

  &Right {
    padding-left: 2rem;
    top: 10%;
    right: 0;
  }

  &Left {
    padding-right: 2rem;
    bottom: 10%;
    left: 0;
    background-color: #73d0a2;
  }
}

@media only screen and (max-width: 800px) {
  .screenEgg {
    padding: 1rem;
    position: static;
    display: block;

    &Right,
    &Left {
      transform: none !important;
    }

    ul {
      display: flex;
      justify-content: space-around;
      padding-left: 0;

      li {
        margin-bottom: 0;
      }
    }
  }
}
