.aboutMe {
  display: flex;

  &Description {
    padding-right: 20px;
    width: 700px;
    color: #6e6e6e;
    font-size: 16px;
    line-height: 1.8;

    span {
      color: #303030;
      font-weight: 600;
      transition: color 0.2s ease;

      &:hover {
        color: #4b86b4;
      }
    }

    p {
      margin-top: 0;
      margin-bottom: 24px;

      &:first-child {
        font-size: 18px;
        background: linear-gradient(135deg, #4b86b4 0%, #43ad76 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-weight: 600;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &Avatar {
    background: url('/avatar.png') no-repeat top right;
    background-size: contain;
    width: 500px;
    height: 500px;
  }
}

@media only screen and (max-width: 800px) {
  .aboutMe {
    flex-direction: column-reverse;

    &Avatar {
      background: url('/avatar.png') no-repeat top left;
      background-size: contain;
      width: 300px;
      height: 300px;
    }

    &Description {
      width: 100%;
      margin-top: 10px;
      font-size: 15px;
      line-height: 1.7;
      padding-right: 0;

      p:first-child {
        font-size: 17px;
      }
    }
    &Title {
      margin-top: 350px;
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .aboutMe {
    flex-direction: row;
  }
}
