.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.skeleton {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}

.shimmer {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent 0%,
    var(--shimmer-color, rgba(255, 255, 255, 0.3)) 50%,
    transparent 100%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite ease-in-out;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.image {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.imageLoaded {
  opacity: 1;
  z-index: 2;
}
