.project {
  &Title {
    margin-bottom: 0.7em;
  }

  &Image {
    position: relative;
    width: 150px;
    height: 150px;
  }

  &Description {
    line-height: 1.6;
  }

  &Content {
    display: grid;
    grid-template-columns: 6rem 1fr;
    align-items: start;
    gap: 3rem;
  }

  &Link {
    text-decoration: none;
    color: black;

    &:hover {
      .projectTitle::after {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .project {
    &Image {
      display: none;
    }

    &Content {
      grid-template-columns: 1fr;
    }
  }
}
