.project {
  &Title {
    margin-bottom: 0.7em;
  }

  &Image {
    position: relative;
    width: 500px;
    height: 300px;
  }

  &Description {
    line-height: 1.6;
  }

  &Content {
    display: grid;
    grid-template-rows: 13rem 1fr;
    align-items: start;
    gap: 3rem;
  }

  &Link {
    text-decoration: none;
    color: black;

    &:hover {
      .projectTitle::after {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .project {
    &Image {
      width: 400px;
      height: 200px;
    }

    &Content {
      grid-template-rows: 10rem 1fr;
      gap: 1rem;
    }
  }
}

@media only screen and (max-width: 500px) {
  .project {
    &Image {
      width: 330px;
      height: 165px;
    }

    &Content {
      gap: 0;
    }

    &Description {
      margin-top: 0;
    }
  }
}
