.project {
  a {
    color: #4b86b4;
    text-decoration: none;
    background-color: transparent;
    padding: 2px 4px;
    border-radius: 4px;
    transition:
      background-color 0.3s,
      color 0.3s;
  }

  a:hover {
    background-color: #43ad76;
    color: #ffffff;
  }

  &Title {
    margin-bottom: 0.5rem;
  }

  &Date {
    margin-bottom: 1rem;
  }

  &Image {
    position: relative;
    padding-bottom: 2rem;
  }
}

@media only screen and (max-width: 800px) {
  .project {
    &Title {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      margin-right: 1.5rem;
    }

    &Image {
      width: auto;
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .project {
    &Image {
      width: auto;
    }
  }
}
