@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap&subset=cyrillic');
@import '~react-image-gallery/styles/scss/image-gallery.scss';

html,
body,
button {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

html.ru-lang,
html.ru-lang body,
html.ru-lang button {
  font-family: 'Montserrat', sans-serif;
}

button {
  border: none;
  box-shadow: none;
}

@media only screen and (max-width: 1150) {
  html,
  body,
  button {
    font-size: 16px;
  }
}
* {
  list-style-type: none;
}
